/* Header background */
header {
  background-color: #f16529;
  width: 100%;
  height: 290px;
  padding-top: 0;
  left: 0;
  border-bottom: 25px solid #e44d26;
}

/* Logo html5 */
img {
width: 200px;
display: block;
margin: 0 auto;
padding-top: 25px;
}

/* custom h1 */
.customh1 {
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  color:#f16529;

}

/* uppercase h3 */
h3 {
  text-transform: uppercase;
}
